terraform {
  backend "s3" {
    bucket = "state_bucket"         # Name of S3 bucket
    key    = "production.tfstate"   # Location/path to terraform state file stored in S3
    region = "eu-west-2"            # London
  }
}